.pf-inv {
	background: #333;
	color: white;
}

.pf-md {
	font-size: 150%;
}

.pf-lg {
	font-size: 200%;
}

.pf-bordered {
	display: inline-block;
	padding: 4px;
	border: 1px solid #333;
	margin-bottom: 3px;
}

.pf-bordered-light {
	border-color: #e1e1e1;
}

.pf-rounded {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

.pf-lg.pf-rounded,
.pf-md.pdf-rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}